.categoryMain {
    margin: 1rem 2rem !important;
    border: 1px solid rgba(0, 0, 0, 0.179);
    border-radius: 0.3rem;
    padding: 0 1.3rem !important;
}

.categoryTitle {
    padding: 0.6rem 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
}

.inputCategory {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.229);
    height: 2rem;
    background-color: rgba(250, 235, 215, 0.174);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    display: flex;
}

.inputCategoryFile {
    width: 100%;
    padding-top: 1px !important;
    border: 1px solid rgba(0, 0, 0, 0.229);
    height: 2rem;
    background-color: rgba(250, 235, 215, 0.174);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    display: flex;
}

.inputCategory:focus {
    background-color: white;
    outline: 1px solid #86C665 !important;
}